{{ define "main" }}
<h1>Posts</h1>
<ul class="list-group post-list">
{{ range .Pages }}
    <li class="list-group-item">
        <a href="{{ .RelPermalink }}">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    {{if .Params.feature }}<img class="w-25 d-none d-md-inline-block" src="{{ .Params.feature }}"/>{{ end }}
                    <div class="d-inline-block p-1">
                        {{ .Title }}
                        {{ if .Params.subtitle }}
                        <div class="d-none d-md-block"><small class="text-muted">{{ .Params.subtitle }}</small></div>
                        {{ end }}
                    </div>
                </div>
                <div class="w-25">{{ partial "author" . }}</div>
            </div>
        </a>
    </li>
{{ end }}
</ul>
{{ end }}