<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ block "title" . }}{{ with .Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/img/nathanicon.png" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/github.css" rel="stylesheet" type="text/css"/>
    <link href="/css/global.css" rel="stylesheet" type="text/css" />
    <link href="/css/banner.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/highlight.pack.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
</head>